<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello Welcome to the Home Page of the website</h1>
   <div>
        <a href="/signUp">Sign Up</a>
    </div>
    <div>
        <a href ="/login">log in</a>
    </div>
</body>
</html>