<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include("partials/errors.ejs")%>
    <h1>Log Into Your Account</h1>
    <form>
        <div action = "/login" method="POST">
            <label for="email" >email</label>
            <input id="email",name="email", type="email">
        </div>
        <div>
            <label for="password">password</label>
            <input id="password", name="password", type="password">
        </div>
        <button>Log In</button>

    </form>
</body>
</html>